@import url('background.css');
@import url('hearder.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --text: #EDF1F7;
    --red: #8c9ea6     ;
    --blue: #2a4759;
    --green: #8194b3; 
    --yellow: #ffc12b;
  }
  
  body, button, a {
    color: var(--text);
    font: 400 1rem "Mukta", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  button:hover {
    cursor: pointer;
  }

  #app{
    display: flex;
    flex-direction: column;     
    align-items: center;
     
    width: 100%;
    height: 100vh ;
  }
   